<div class="related-products-wrapper" (window:resize)="getSlideNumber()" *ngIf="san_pham!=null" id="san_pham_lien_quan" (click)="thay_doi_chi_tiet_san_pham()" >
   <h2 class="related-products-title">Related Products</h2>
   <div class="carousel slide" data-ride="carousel" >
        <div class="carousel-inner">
            <div  *ngFor="let value of related_product_array;let i=index;" ng-value="vitri" ng-value="so_slide" class="item {{ (i>=vitri)&&(i<vitri+so_slide)?'active':'' }}">          
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                    <div class="single-product" >
                                <div class="product-f-image">
                                    <img src="img/{{value.hinh_san_pham}}" style="height: 300px;" alt="">
                                    <div class="product-hover">
                                        <a class="add-to-cart-link" ><span (click)="dat_hang(value.ma)" ><i  class="fa fa-shopping-cart"></i> Add to cart</span></a>
                                        <a [routerLink]="['/chitiet',value.ma]" (click)="thay_doi_chi_tiet_san_pham()" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>
                                <h2><a [routerLink]="['/chitiet',value.ma]">{{value.ten_san_pham}}</a></h2>
                                
                                <div class="product-carousel-price">
                                    <ins>{{value.don_gia}} VNĐ</ins>
                                </div> 
                            </div>
                </div>                        
            </div>

        </div>
        <a (click)="prev()" class="left carousel-control"  data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a (click)="next()" class="right carousel-control"  data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>



     
