<div class="col-md-8">
   <div class="product-content-right">
      <div class="woocommerce">
         <div class="woocommerce-info">Returning customer? <a [routerLink]="['/dangnhap']" routerLinkActive="trang_hien_tai" [routerLinkActiveOptions]="{exact:true}">Click here to login</a>
         </div>

         <!--<form id="login-form-wrap" class="login collapse" method="post">
            <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing &amp; Shipping section.</p>
            <p class="form-row form-row-first">
               <label for="username">Username or email <span class="required">*</span>
               </label>
               <input type="text" id="username" name="username" class="input-text">
            </p>
            <p class="form-row form-row-last">
               <label for="password">Password <span class="required">*</span>
               </label>
               <input type="password" id="password" name="password" class="input-text">
            </p>
            <div class="clear"></div>
            <p class="form-row">
               <input type="submit" value="Login" name="login" class="button">
               <label class="inline" for="rememberme"><input type="checkbox" value="forever" id="rememberme" name="rememberme"> Remember me </label>
            </p>
            <p class="lost_password">
               <a href="#">Lost your password?</a>
            </p>
            <div class="clear"></div>
         </form>-->

         <!--<div class="woocommerce-info">Have a coupon? <a class="showcoupon" data-toggle="collapse" href="#coupon-collapse-wrap" aria-expanded="false" aria-controls="coupon-collapse-wrap">Click here to enter your code</a>
         </div>-->

         <!--<form id="coupon-collapse-wrap" method="post" class="checkout_coupon collapse">
            <p class="form-row form-row-first">
               <input type="text" value="" id="coupon_code" placeholder="Coupon code" class="input-text" name="coupon_code">
            </p>
            <p class="form-row form-row-last">
               <input type="submit" value="Apply Coupon" name="apply_coupon" class="button">
            </p>
            <div class="clear"></div>
         </form>-->
         <form action="#" class="checkout" method="post" name="checkout">
            <div id="customer_details" class="col2-set">
               <div class="col-1">
                  <div class="woocommerce-billing-fields">
                     <h3>Billing Details</h3>
                        <div class="form-group">
                            <label class="control-label " for="txtHoTen">Full Name:</label>
                            <div >
                            <input required="true" name="ho_ten" #ho_ten="ngModel" [(ngModel)]="nguoi_dung_1.ho_ten" type="text" class="form-control" id="txtHoTen" placeholder="Full name">
                            <div class="thong_bao_loi_1" ng-value="trang_thai" *ngIf="!trang_thai&&ho_ten.invalid&&!ho_ten.pristine" >
                                Please type your full name.
                            </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label " for="txtDiaChi">Address:</label>
                            <div >
                            <input name="dia_chi" required="true" #dia_chi="ngModel" [(ngModel)]="nguoi_dung_1.dia_chi" type="text" class="form-control" id="txtDiaChi" placeholder="Address">
                            <div class="thong_bao_loi_1"ng-value="trang_thai" *ngIf="!trang_thai&&dia_chi.invalid&&!dia_chi.pristine" >
                                Please type address
                            </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label " for="txtEmail">Email:</label>
                            <div >
                            <input name="email" required="true" pattern="\S+@\S+\.\S+" #email="ngModel" [(ngModel)]="nguoi_dung_1.email" type="email" class="form-control" id="txtEmail" placeholder="Email">
                            <div *ngIf="!trang_thai&&email.invalid&&!email.pristine" >
                                <div class="thong_bao_loi_1" ng-value="trang_thai" *ngIf="!trang_thai&&email.errors.required" >
                                    Please type your email
                                </div>
                                <div class="thong_bao_loi_1" ng-value="trang_thai" *ngIf="!trang_thai&&email.errors.pattern">
                                    Email address is invalid
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label " for="txtSoDienThoai">Phone number:</label>
                            <div >
                            <input name="so_dien_thoai" required="true" #so_dien_thoai="ngModel" [(ngModel)]="nguoi_dung_1.so_dien_thoai" type="text" class="form-control" id="txtSoDienThoai" placeholder="Phone number">
                            <div class="thong_bao_loi_1" ng-value="trang_thai" *ngIf="!trang_thai&&so_dien_thoai.invalid&&!so_dien_thoai.pristine" >
                                Please type your phone number
                            </div>
                            </div>
                        </div>

                     <div class="clear"></div>
                     <div class="create-account">
                        <p>Create an account by entering the information below.Default account is your email address.If you are a returning customer please login at the top of the page.</p>
                        <label class="control-label " for="txtMatKhau">Password:</label>
                        <div > 
                        <input name="mat_khau" required="true" #mat_khau="ngModel" [(ngModel)]="nguoi_dung_1.mat_khau" [(ngModel)]="nguoi_dung_2.mat_khau" type="password" class="form-control" id="txtMatKhau" placeholder="Password">
                        <div class="thong_bao_loi" *ngIf="mat_khau.invalid&&!mat_khau.pristine" >
                            Please type you password
                        </div>
                        </div>
                        <div class="clear"></div>
                     </div>
                  </div>
               </div>
               <div class="col-2">
                  <div class="woocommerce-shipping-fields">
                     <h3 id="ship-to-different-address">
                        <label class="checkbox" for="ship-to-different-address-checkbox">Ship to a different address?</label>
                        <input type="checkbox" ng-value="trang_thai" value="{{trang_thai}}" name="ship_to_different_address" class="input-checkbox" id="ship-to-different-address-checkbox" (click)="thay_doi_trang_thai()">
                     </h3>
                     <div class="shipping_address" style="display: block;">
                        <div class="form-group">
                            <label class="control-label " for="txtHoTen">Full Name:</label>
                            <div >
                            <input required="true" name="ho_ten" #ho_ten="ngModel" [(ngModel)]="nguoi_dung_2.ho_ten" type="text" class="form-control" id="txtHoTen" placeholder="Full name">
                            <div class="thong_bao_loi_2" ng-value="trang_thai"*ngIf="trang_thai&&ho_ten.invalid&&!ho_ten.pristine" >
                                Please type your full name.
                            </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label " for="txtDiaChi">Address:</label>
                            <div >
                            <input name="dia_chi" required="true" #dia_chi="ngModel" [(ngModel)]="nguoi_dung_2.dia_chi" type="text" class="form-control" id="txtDiaChi" placeholder="Address">
                            <div class="thong_bao_loi_2"ng-value="trang_thai" *ngIf="trang_thai&&dia_chi.invalid&&!dia_chi.pristine" >
                                Please type address
                            </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label " for="txtEmail">Email:</label>
                            <div >
                            <input name="email" required="true" pattern="\S+@\S+\.\S+" #email="ngModel" [(ngModel)]="nguoi_dung_2.email" type="email" class="form-control" id="txtEmail" placeholder="Email">
                            <div *ngIf="trang_thai&&email.invalid&&!email.pristine" >
                                <div class="thong_bao_loi_2" ng-value="trang_thai" *ngIf="trang_thai&&email.errors.required" >
                                    Please type your email
                                </div>
                                <div class="thong_bao_loi_2"ng-value="trang_thai"  *ngIf="trang_thai&&email.errors.pattern">
                                    Email address is invalid
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label " for="txtSoDienThoai">Phone number:</label>
                            <div >
                            <input name="so_dien_thoai" required="true" #so_dien_thoai="ngModel" [(ngModel)]="nguoi_dung_2.so_dien_thoai" type="text" class="form-control" id="txtSoDienThoai" placeholder="Phone number">
                            <div class="thong_bao_loi_2" ng-value="trang_thai" *ngIf="trang_thai&&so_dien_thoai.invalid&&!so_dien_thoai.pristine" >
                                Please type your phone number
                            </div>
                            </div>
                        </div>

                        <div class="clear"></div>
                     </div>
                     <p id="order_comments_field" class="form-row notes">
                        <label class="" for="order_comments">Order Notes</label>
                        <textarea cols="5" rows="2" placeholder="Notes about your order, e.g. special notes for delivery." id="order_comments" class="input-text"></textarea>
                     </p>
                  </div>
               </div>
            </div>
            <h3 id="order_review_heading">Your order</h3>
            <div id="order_review" style="position: relative;">
               <table class="shop_table">
                  <thead>
                     <tr>
                        <th class="product-name">Product</th>
                        <th class="product-total">Total</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr class="cart_item" *ngFor="let value of ds_gio_hang">
                        <td class="product-name">
                           {{value.san_pham.ten_san_pham}} <strong class="product-quantity">× {{value.so_luong_mua}}</strong> 
                        </td>
                        <td class="product-total">
                           <span class="amount">{{value.san_pham.don_gia * value.so_luong_mua}} VNĐ</span> 
                        </td>
                     </tr>
                  </tbody>
                  <tfoot >
                     <tr class="cart-subtotal">
                        <th>Cart Subtotal</th>
                        <td><span class="amount" ng-value="total">{{total}} VNĐ</span>
                        </td>
                     </tr>
                     <tr class="shipping">
                        <th>Shipping and Handling</th>
                        <td>
                           Free Shipping
                           <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0" name="shipping_method[0]">
                        </td>
                     </tr>
                     <tr class="order-total">
                        <th>Order Total</th>
                        <td><strong><span class="amount" ng-value="total">{{total}} VNĐ</span></strong> </td>
                     </tr>
                  </tfoot>
               </table>
               <div id="payment">
                  <ul class="payment_methods methods">
                     <li class="payment_method_bacs">
                        <input type="radio" data-order_button_text="" ng-value="hinh_thuc_thanh_toan" value="{{hinh_thuc_thanh_toan}}" name="payment_method" class="input-radio" id="payment_method_bacs" (click)="hinh_thuc_thanh_toan_bacs()">
                        <label for="payment_method_bacs">Direct Bank Transfer </label>
                        <div class="payment_box payment_method_bacs">
                           <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                        </div>
                     </li>
                     <li class="payment_method_cheque">
                        <input type="radio" data-order_button_text="" ng-value="hinh_thuc_thanh_toan" value="{{hinh_thuc_thanh_toan}}" name="payment_method" class="input-radio" id="payment_method_cheque" (click)="hinh_thuc_thanh_toan_cheque()">
                        <label for="payment_method_cheque">Cheque Payment </label>
                        <div style="display:none;" class="payment_box payment_method_cheque">
                           <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                        </div>
                     </li>
                     <li class="payment_method_paypal">
                        <input type="radio" data-order_button_text="Proceed to PayPal" ng-value="hinh_thuc_thanh_toan" value="{{hinh_thuc_thanh_toan}}" name="payment_method" class="input-radio" id="payment_method_paypal" (click)="hinh_thuc_thanh_toan_paypal()">
                        <label for="payment_method_paypal">PayPal <img alt="PayPal Acceptance Mark" src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png"><a title="What is PayPal?" onclick="javascript:window.open('https://www.paypal.com/gb/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;" class="about_paypal" href="https://www.paypal.com/gb/webapps/mpp/paypal-popup">What is PayPal?</a>
                        </label>
                        <div style="display:none;" class="payment_box payment_method_paypal">
                           <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                        </div>
                     </li>
                  </ul>
                  <div class="form-row place-order">
                     <input type="submit" data-value="Place order" value="Place order" id="place_order" name="woocommerce_checkout_place_order" class="button alt" (click)="thanh_toan()">
                    <h3 style="margin-top: 20px;" id="thong_bao" ng-value="thong_bao"><span class="label label-success" >{{thong_bao}}</span></h3>
                  </div>
                  <div class="clear"></div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>